In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [138]:
df_loc=pd.read_csv("../input/db/locations/locations.csv")
df_loc.head()

,id,name,type,status,commerce,size,latitude,longitude,region,city,state
0,1509,BOD. CENTRAL #3,BODEGA,1,NaN,0.00,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
1,1510,CENTRO - ANEXO,TIENDA,0,PYCCA,0.00,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
2,1511,URDESA,TIENDA,1,PYCCA,485.31,-2.174087,-79.906408,GUAYAQUIL,GUAYAQUIL,GUAYAS
3,1512,CENTRO - GYE,TIENDA,1,PYCCA,3152.19,-2.191242,-79.884027,GUAYAQUIL,GUAYAQUIL,GUAYAS
4,1513,ROTONDA,TIENDA,1,PYCCA,2528.85,-2.139087,-79.908262,GUAYAQUIL,GUAYAQUIL,GUAYAS

In [139]:
Q1=df_loc["size"].quantile(0.25)
Q2=df_loc["size"].quantile(0.50)
Q3=df_loc["size"].quantile(0.75)
print("Pequeño:", Q1)
print("Mediano:", Q2)
print("Grande:", Q3)

Pequeño: 0.0
Mediano: 92.39500000000001
Grande: 437.9375

In [140]:
df_loc.isnull().sum()

id            0
name          0
type         11
status        0
commerce     42
size          0
latitude     55
longitude    55
region       33
city          2
state         2
dtype: int64

In [141]:
df_loc[df_loc["type"].isnull()]

,id,name,type,status,commerce,size,latitude,longitude,region,city,state
19,1528,TALLER CARPINTERIA,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
32,1541,PARQUEO,NaN,0,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
43,1552,TALLER ELECTRO,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
45,1554,GARANTIAS GYE,NaN,1,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
46,1555,GARANTIA QTO,NaN,1,NaN,0.0,NaN,NaN,NaN,QUITO,PICHINCHA
52,1561,BOD RESERV. GYE,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
58,1567,CREDITO DIRECTO,NaN,0,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
67,1576,BOD RESERV. UIO,NaN,1,NaN,0.0,NaN,NaN,NaN,QUITO,PICHINCHA
78,1587,BOD. PROVEEDURIA,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
122,1652,AVERIADOS EN GARANTIA,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
135,1665,OFICINA SISTEMAS,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS

In [142]:
df_loc[df_loc["commerce"].isnull()]

,id,name,type,status,commerce,size,latitude,longitude,region,city,state
0,1509,BOD. CENTRAL #3,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
7,1516,BOD/QUITO,BODEGA,0,NaN,0.0,NaN,NaN,NaN,QUITO,PICHINCHA
10,1519,BOD. CENTRAL #1,BODEGA,1,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
11,1520,TRANSITO,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
12,1521,BOD. CENTRAL #5,BODEGA,1,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
13,1522,CUARTO MUESTRAS,BODEGA,1,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
17,1526,AVERIADO CD,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
19,1528,TALLER CARPINTERIA,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
22,1531,BOD. CENTRAL #2,BODEGA,0,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
30,1539,CONSIGNACION,BODEGA,0,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
31,1540,BOD. CENTRAL #6,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
32,1541,PARQUEO,NaN,0,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
43,1552,TALLER ELECTRO,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
45,1554,GARANTIAS GYE,NaN,1,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
46,1555,GARANTIA QTO,NaN,1,NaN,0.0,NaN,NaN,NaN,QUITO,PICHINCHA
52,1561,BOD RESERV. GYE,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
53,1562,BOD. CENTRAL #4,BODEGA,0,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
58,1567,CREDITO DIRECTO,NaN,0,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
61,1570,BOD. CENTRAL #0,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
62,1571,BOD. CENTRAL #7,BODEGA,0,NaN,0.0,NaN,NaN,NaN,QUITO,PICHINCHA
66,1575,BOD. MERCHANDISING,BODEGA,1,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
67,1576,BOD RESERV. UIO,NaN,1,NaN,0.0,NaN,NaN,NaN,QUITO,PICHINCHA
78,1587,BOD. PROVEEDURIA,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
82,1591,CREDIPYCCA EMPRESARIAL GYE,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
83,1592,BOD CARPA,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
84,1593,BOD. CENTRAL #7UIO,BODEGA,0,NaN,0.0,NaN,NaN,QUITO,QUITO,PICHINCHA
90,1604,POLIPAPEL CATEGORIAS,BODEGA,1,NaN,0.0,-2.191242,-79.884027,GUAYAQUIL,GUAYAQUIL,GUAYAS
93,1611,ENTREGAS DOMICILIO,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
94,1612,OFICINA ETNIA,BODEGA,1,NaN,0.0,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
102,1630,BODEGA CLUB PYCCA,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
106,1634,BODEGA MARKETING,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
111,1640,MARKETPLACE,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
113,1642,REPARADOS DE TALLERES,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
121,1651,OFICINA ADMINISTRATIVA,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
122,1652,AVERIADOS EN GARANTIA,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
124,1654,BODEGA - PET STATION H,BODEGA,0,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
135,1665,OFICINA SISTEMAS,NaN,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
147,1680,BODEGA - PET STATION UIO H,BODEGA,1,NaN,0.0,NaN,NaN,NaN,QUITO,PICHINCHA
164,1699,LOGISTICA INVERSA,BODEGA,1,NaN,0.0,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
171,1711,BODEGA PET STATION - ALMAX,BODEGA,1,NaN,0.0,-2.040188,-79.848110,NaN,GUAYAQUIL,GUAYAS
176,1716,P.S. ANIMALOPOLIS C. CELESTE,BODEGA,1,NaN,0.0,NaN,NaN,NaN,NaN,NaN
177,1717,P.S. ANIMALOPOLIS URDESA,BODEGA,1,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [143]:
df_loc[df_loc["commerce"]!="BODEGA"]

,id,name,type,status,commerce,size,latitude,longitude,region,city,state
0,1509,BOD. CENTRAL #3,BODEGA,1,NaN,0.00,NaN,NaN,NaN,GUAYAQUIL,GUAYAS
1,1510,CENTRO - ANEXO,TIENDA,0,PYCCA,0.00,NaN,NaN,GUAYAQUIL,GUAYAQUIL,GUAYAS
2,1511,URDESA,TIENDA,1,PYCCA,485.31,-2.174087,-79.906408,GUAYAQUIL,GUAYAQUIL,GUAYAS
3,1512,CENTRO - GYE,TIENDA,1,PYCCA,3152.19,-2.191242,-79.884027,GUAYAQUIL,GUAYAQUIL,GUAYAS
4,1513,ROTONDA,TIENDA,1,PYCCA,2528.85,-2.139087,-79.908262,GUAYAQUIL,GUAYAQUIL,GUAYAS
...,...,...,...,...,...,...,...,...,...,...,...
173,1713,POLIP. PORTAL SHOPPING,TIENDA,1,POLIPAPEL,146.12,-0.198930,-78.436852,QUITO,QUITO,PICHINCHA
174,1714,PC BY PS - MALL DEL SOL,TIENDA,1,PET STATION,23.26,-2.155859,-79.893775,GUAYAQUIL,GUAYAQUIL,GUAYAS
175,1715,P.S. V COSTA KM 20,TIENDA,1,PET STATION,209.78,-2.197750,-80.061545,GUAYAQUIL,GUAYAQUIL,GUAYAS
176,1716,P.S. ANIMALOPOLIS C. CELESTE,BODEGA,1,NaN,0.00,NaN,NaN,NaN,NaN,NaN
177,1717,P.S. ANIMALOPOLIS URDESA,BODEGA,1,NaN,0.00,NaN,NaN,NaN,NaN,NaN

In [144]:
def fillRegion(row):
    if pd.isnull(row["region"]):
        match row["city"]:
            case "GUAYAQUIL":
                return "GUAYAQUIL"
            case "QUITO":
                return "QUITO"
            case "MANTA":
                return "MANABI"
            case _:
                return "OTROS"
    else:
        return row["region"]

In [145]:
def fillCommerce(row):
    if pd.isnull(row["commerce"]):
        match row["type"]:
            case "BODEGA":
                return "BODEGA"
            case _:
                return "OTROS"
    else:
        return row["commerce"]

In [146]:
def SetBuildingSize(row):
    if row["size"] < Q2:
        return "PEQUEÑO"
    elif row["size"] < Q3:
        return "MEDIANO"
    else:
        return "GRANDE"

In [147]:
df_loc.drop(columns=["latitude","longitude"],inplace=True)
df_loc.head()

,id,name,type,status,commerce,size,region,city,state
0,1509,BOD. CENTRAL #3,BODEGA,1,NaN,0.00,NaN,GUAYAQUIL,GUAYAS
1,1510,CENTRO - ANEXO,TIENDA,0,PYCCA,0.00,GUAYAQUIL,GUAYAQUIL,GUAYAS
2,1511,URDESA,TIENDA,1,PYCCA,485.31,GUAYAQUIL,GUAYAQUIL,GUAYAS
3,1512,CENTRO - GYE,TIENDA,1,PYCCA,3152.19,GUAYAQUIL,GUAYAQUIL,GUAYAS
4,1513,ROTONDA,TIENDA,1,PYCCA,2528.85,GUAYAQUIL,GUAYAQUIL,GUAYAS

In [148]:
df_loc["region"]=df_loc.apply(fillRegion, axis=1)

In [149]:
df_loc.loc[(df_loc['name'].str.startswith("BOD")) & (df_loc['type'].isna()), 'type'] = "BODEGA"
df_loc.loc[(df_loc['type'].isna()), 'type'] = "OTROS"

In [150]:
df_loc["commerce"]=df_loc.apply(fillCommerce, axis=1)
df_loc.isnull().sum()

id          0
name        0
type        0
status      0
commerce    0
size        0
region      0
city        2
state       2
dtype: int64

In [151]:
#Verifico los que quedan y compruebo que son de la ciudad de Guayaquil
df_loc[(df_loc["city"].isnull())]

,id,name,type,status,commerce,size,region,city,state
176,1716,P.S. ANIMALOPOLIS C. CELESTE,BODEGA,1,BODEGA,0.0,OTROS,NaN,NaN
177,1717,P.S. ANIMALOPOLIS URDESA,BODEGA,1,BODEGA,0.0,OTROS,NaN,NaN

In [152]:
df_loc.loc[(df_loc["city"].isnull()),"city"]="GUAYAQUIL"
df_loc.loc[(df_loc["state"].isnull()) & (df_loc['region']=="OTROS"),"region"]="GUAYAQUIL"
df_loc.loc[(df_loc["state"].isnull()),"state"]="GUAYAS"
df_loc.isnull().sum()

id          0
name        0
type        0
status      0
commerce    0
size        0
region      0
city        0
state       0
dtype: int64

In [153]:
df_loc["tamanio"]=df_loc.apply(SetBuildingSize, axis=1)

In [154]:
df_loc.to_csv("../output/locations_cleaned.csv", index=False)