# Exploramos el dataset de productos

### Importamos la libreria correspondiente

In [1]:
import pandas as pd

### Importamos los datasets de productos con los que trabajaremos

In [2]:
dfprod=pd.read_csv("../input/db/products/products.csv")
dflvl4=pd.read_csv("../input/db/products/categoryLevel4.csv")
dflvl3=pd.read_csv("../input/db/products/categoryLevel3.csv")
dflvl2=pd.read_csv("../input/db/products/categoryLevel2.csv")
dflvl1=pd.read_csv("../input/db/products/categoryLevel1.csv")

#### Realizamos un merge de los datasets dejando unicamente el codigo y las categorias a las que pertenece ese producto
##### Esto se lo hace para su posterior análisis en las ventas

In [3]:
#Realizamos un solo dataset con los productos y sus categorias
dfprod = pd.merge(dfprod,dflvl4, left_on='CategoryLevel4id', right_on='id', how='left')
dfprod.rename(columns={'id_x': 'idProd','name_x':'nameProd','name_y':'subCat'}, inplace=True)
dfprod = pd.merge(dfprod,dflvl3, left_on='CategoryLevel3id', right_on='id', how='left')
dfprod.rename(columns={'name':'PCategory'}, inplace=True)
dfprod = pd.merge(dfprod,dflvl2, left_on='CategoryLevel2id', right_on='id', how='left')
dfprod.rename(columns={'name':'SectionProduc'}, inplace=True)
dfprod = pd.merge(dfprod,dflvl1, left_on='CategoryLevel1Id', right_on='id', how='left')
dfprod.rename(columns={'name':'General'}, inplace=True)
dfprod.drop(columns=['CategoryLevel4id', 'CategoryLevel3id', 'CategoryLevel2id', 'CategoryLevel1Id', 'id_y', 'id_x', 'id'], inplace=True)
dfprod.head()

,idProd,nameProd,subCat,PCategory,SectionProduc,General
0,0161040040040010,MINI POP TRAVELINA - BUS + HELICOPTERO,VARIOS,CASAS & CASTILLOS,NIÑA,JUGUETES
1,0161061044021019,FLOTADOR MODELO DELFIN,FLOTADORES & CHALECOS,FLOTADORES,PLAYA & PISCINAS,JUGUETES
2,0163069045022019,FLOTADOR PARA BRAZOS,FLOTADORES & CHALECOS,FLOTADORES,PLAYA & PISCINAS,JUGUETES
3,1162040050020010,MUNECA SONIDO,CON MECANISMO,MUÑECAS,NIÑA,JUGUETES
4,1167040050020010,CACHORRO CON SONIDO,CON MECANISMO,MUÑECAS,NIÑA,JUGUETES

### Verificamos si hay valores nulos o faltantes, ademas de si hay valores duplicados

In [4]:
dfprod.isna().sum() # Verifica si hay filas con valores NaN

idProd           0
nameProd         0
subCat           4
PCategory        4
SectionProduc    4
General          4
dtype: int64

In [5]:
dfprod.duplicated().sum() # Verifica si hay filas duplicadas

np.int64(0)

 ### Verificamos los valores NaN

In [6]:
dfprod[dfprod.isna().any(axis=1)]  # Verifica si hay filas con valores NaN

,idProd,nameProd,subCat,PCategory,SectionProduc,General
55610,O151053129038011,INDIVIDUAL OVALADO 30X45 CM ROSA,NaN,NaN,NaN,NaN
58943,O159057157012012,VAJILLA 16PZS FLORES VERDE,NaN,NaN,NaN,NaN
58944,O150058157012012,VAJILLA 16PZS PALMA AZUL,NaN,NaN,NaN,NaN
58945,O151058157012012,VAJILLA 16PZS ACUARELA ROSA,NaN,NaN,NaN,NaN

### Eliminamos las filas que contienen los valores NaN ya que no forman parte de las categorias a analizar

In [7]:
dfprod = dfprod.dropna(subset=['subCat', 'PCategory', 'SectionProduc', 'General'])  # Elimina filas con NaN en columnas clave

### Exportamos el nuevo dataset a la carpeta output

In [8]:
dfprod.to_csv("../output/Productos.csv", index=False)